{
    "mathematics_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "mathematics_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "science_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "science_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "socialscience_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "socialscience_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "english_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "english_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "englishcommunicative_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "englishcommunicative_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "hindia_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "hindia_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "hindib_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "hindib_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "sanskrit_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "sanskrit_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "languages_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "languages_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "computerscience_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "computerscience_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "additional_9": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "additional_10": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "mathematics_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "mathematics_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "physics_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "physics_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "chemistry_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "chemistry_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "english_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "english_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "hindi_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "hindi_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "languages_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "languages_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "physicaleducation_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "physicaleducation_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "computerscience_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "computerscience_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "additional_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "additional_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "biology_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "biology_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "businessstudies_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "businessstudies_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "accountancy_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "accountancy_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "economics_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "economics_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "history_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "history_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "geography_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "geography_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "politicalscience_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "politicalscience_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "sociology_11": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    },
    "sociology_12": {
        "id": "",
        "subject": "",
        "grade": 0,
        "helperrole": []
    }
}