{
    "prefix": "!",
    "guildID": "",
    "resourceLibraryChannelID: "",
    "resourceReportChannelID": "",
    "supportManagerRoleID": "",
    "developerID": "",
    "imgbbApiKey": "",
    "geminiAPIKey": "",
    "staffRoleIDs": []
}