{
    "stars": "",
    "glitters": "",
    "crown": "",
    "frost": "",
    "heart": "",
    "right": "",
    "wrong": "",
    "green": "",
    "red": "",
    "blue": "",
    "reply": "",
    "replycontinued": "",
    "fingerguns": ""
}