{
    "stars": "",
    "glitters": "",
    "crown": "",
    "frost": "",
    "heart": "",
    "right": "",
    "wrong": "",
    "green": "",
    "red": "",
    "blue": "",
    "reply": "",
    "replycontinued": "",
    "fingerguns": "",
    "purple_candycane": "",
    "blue_candycane": "",
    "pink_candycane": "",
    "pink_butterfly": "",
    "blue_butterfly": "",
    "white_butterfly": "",
    "white_heart_pop": "",
    "blue_heart_pop": "",
    "pink_heart_pop": "",
    "blue_crown": ""
}