{
    "pcm11": "",
    "pcb11": "",
    "commerce11": "",
    "humanities11": "",
    "pcm12": "",
    "pcb12": "",
    "commerce12": "",
    "humanities12": "",
    "grade10": "",
    "grade9": "",
    "herole": "",
    "sherole": "",
    "theyrole": "",
    "studymode": "",
    "moderator": "",
    "bumpArmy": "",
    "botUpdates": "",
    "helper9": "",
    "helper10": "",
    "helperpcm": "",
    "helperpcb": "",
    "helpercomm": "",
    "helperarts": "",
    "passout": "",
    "year14": "",
    "year15": "",
    "year16": "",
    "year17": "",
    "year18above": "",
    "jee": "",
    "neet": "",
    "cuet": "",
    "upsc": "",
    "defence": "",
    "otherexams": "",
    "helperjee": "",
    "helperneet": "",
    "helpercuet": "",
    "helperupsc": "",
    "white": "",
    "red": "",
    "blue": "",
    "green": "",
    "purple": "",
    "black": "",
    "orange": ""
}