.env
dist
node_modules
src/secret/config.json
src/secret/serviceAccountKey.json
src/secret/emoji.json
src/secret/firebase.json
src/secret/roles.json
src/secret/channels.json
dev.db
prod.db
prod.db.backup
dev.db.backup
dev.db-*
prod.db-*
.env.dev
.env.prod